@model IEnumerable<Product>
@foreach (var p in Model)
{
    <div class="col-3">
        <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@p.Name</td>
            <td>@p.Description</td>
            <td>@p.Price.ToString("c")</td>
            <td>@p.Rating</td>
        </tr>
        </table>
    </div>
}