<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportShop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link">@Html.ActionLink("Admin", "Index", "Admin")</a>

    </div>
</nav>
    <div id="categories" class="col-3">
        @await Component.InvokeAsync("CategoryList")
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
